<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modelo.Properties.Settings.SGAConnectionString" connectionString="Data Source=.\LUCAS;Initial Catalog=SGA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>